.container{
  margin-top: 40px;
}
.active, .filled-in-box{
  font-size: 18px;
  font-weight: bold;
  color: #010148;
}
.filled-in-box{
  font-size: 14px !important;
}
.mark{
  background: #010148;
  color: white;
}
.pointer{
  cursor: pointer;
}