<div class="info">
  <p>Id: {{user.id}}</p>
  <p>Nickname: {{user.name}}</p>
  <p>Email: {{user.email}}</p>
  <p>User name: {{user.username}}</p>
  <p>City: {{user.address.city}}</p>
  <p>Street: {{user.address.street}}</p>
  <p>Suite: {{user.address.suite}}</p>
  <p>Zipcode: {{user.address.zipcode}}</p>
  <p>Phone: {{user.phone}}</p>
  <p>Company name: {{user.company.name}}</p>
  <p>Company catchPhrase: {{user.company.catchPhrase}}</p>
  <button (click)="goBack()" class="waves-effect waves-light btn">Back</button>
</div>